{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "prettier"],
  "plugins": ["class-property"],
  "rules": {
    "class-property/class-property-semicolon": ["error", "never"]
  }
}
